<h1>Add Product</h1>
<div class='container'>
<form id='new_product'>
  <input placeholder='name' name='product[name]' require=true />
  <input placeholder='price' name='product[base_price]' type='number' />
  <input placeholder='description' name='product[description]' />
  <input placeholder='quantity' name='product[quanity_on_hand]' />
  <input placeholder='color' name='product[color]' />
  <input placeholder='weight' name='product[weight]' />

<button class='btn btn-primary' type='submit'>Add</button>
</form>
</div>